.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 300px;
  background-color: #6bb597;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(73, 66, 136, 0.2);
}

.screen {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.screen input[type="text"] {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  border: none;
  background-color: #fc9696;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.buttons button {
  width: 100%;
  height: 50px;
  font-size: 24px;
  border: none;
  background-color: #6999cb;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(178, 244, 117, 0.1);
  cursor: pointer;
}

.buttons button:hover {
  background-color: #cf6bc0;
}
